.btn-group {
    margin-bottom: 40px;
    width: 100%;
    background-color: rgb(255, 255, 118);
}

#button {
    background-color: rgb(255, 255, 118);
    border: none;
    font-family: 'Century Gothic';
    margin-left: 80px;
    margin-right: 80px;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 30%;
}

#home {
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 10px;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

#left {
    float: right;
}

#right {
    float: left;
}

#ep {
    background-color: white;
    width: 680px;
    /* height: 110px; */
    margin-top: 10px;
    text-align: left;
    padding-top: 10px;;
    margin-bottom: 0px;
    font-weight: bold;
    color: rgb(41, 41, 41);
    border-radius: 25px;
    font-size: larger;
}

#descr {
    text-align: left;
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 25px;
}

.limit p {
    width: 680px; 
}

#description {
    background-color: white;
    width: 680px;
    height: 50px;
    margin-bottom: 10px;
    margin-top: 0px;
    text-align: left;
    /* padding-bottom: 15px; */
    padding-right: 15px;
    text-overflow: ellipsis;
    white-space: wrap;
    overflow-x: hidden; 
    overflow-y: scroll;
    word-wrap: break-word;
}

#hoi {
    border-radius: 25px;
    background-color: white;
    width: 700px;
    margin-bottom: 20px; 
    padding-left: 15px;
    padding-bottom: 1px;
    border: 2px;
    border-color: black;
    border-style: solid;
}

#audio-ep {
    width: max-content;
}

audio {
    width: max-content;
}
